/*default font  Varela Round*/

body {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    background-color: rgb(32, 23, 81);
    font-weight: 400;
    color: rgb(79, 84, 100);
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Arial Rounded MT Bold"!important;
	font-weight: 500;
	color: white;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 15px;
}

	a {
		 color: #4f5464;
	}
	a.hover {
	color: #FFD36C;
	}

/*
.panel-heading {
	background-color: #e7e9f6 !important;
	border-color: #e7e9f6 !important;
}

.bg-dark {
	background-color: #e7e9f6 !important;
}
*/


.page-footer a:link, .page-footer a:visited {
color: white!important;
}

.btn {
font-size: 16px;
}

.panel {
border: 0px;
}

.progress-bar {
background-color: #FFD36C;
}

/*
.fa:hover, .fa:active, .fa:focus, .fa:focus-within, .fa:link {
color: #FFD36C!important;
}
*/





.panel-primary>.panel-heading {
         background-color: #4f5464!important;   
        }
        
.navbar-header {
		background-color:  #fed963!important;
	}

.navbar-collapse {
		background-color:  #fed963!important;	
	}
	
	
.navbar {
		background-color: #fed963!important;	
	}
	
.navbar, .nav-item, .nav-link {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

.nav-pills a:hover {
	color: #FFD36C!important;
}

.navbar-inverse .navbar-nav>li>a {
	color: rgb(32, 23, 81);
}



.logo-name {
		color: #4f5464!important;
		padding-top: 16px!important;
		font-family: "Open Sans", "Verela Round", sans-serif!important;
font-size: 20px!important;
	}
	
	.open>a {
		background-color: #fed963!important;
	}
	
	.bg-success {
		background-color: #FFD36C!important; /*Royal Yellow*/
	}
	
	.bg-warning {
		background-color: #0075C9!important;	/*Sapphire Blue*/
	}
	
	.bg-info {
		background-color: #C89211!important;	/*Golden*/
	}
	
	.bg-rates {
    background-color: #FFD36C;
}

.bg-bookings {
    background-color: #0075C9;
}

.bg-requests {
    background-color: #C89211;
}

.bg-links {
    background-color: #54C0E8;
}

.bg-wires {
    background-color: #e74c3c;
}
