

.Huge {
	font-family: System Font;
	font-size: 30px;
}


.ExtraLarge {
	font-family: System Font;
	font-size: 24px;
}

.VeryLarge {
	font-family: System Font;
	font-size: 20px;
}


.Large {
	font-family: System Font;
	font-size: 16px;
}

.Medium {
	font-family: System Font;
	font-size: 14px;
}

.Small {
	font-family: System Font;
	font-size: 10px;
}

.VerySmall {
	font-family: System Font;
	font-size: 9px;
}

.Tiny {
	font-family: System Font;
	font-size: 8px;
}

.default {
	font-family: System Font;
	font-size: 12px;
}

.Fields {
	font-family: System Font;
	font-size: 12px;
}

.Fields_BOLD {
	font-family: System Font;
	font-size: 12px;
	font-weight: bold;
}


.Message_Text {
	font-family: System Font;
	font-size: 12px;
}

.Monospace_Large {
	font-family: courier;
	font-size: 12px;
}

.Monospace_Small {
	font-family: Courier New;
	font-size: 10px;
}

.Titles {
	font-family: System Font;
	font-size: 24px;
	font-weight: bold;
}

.toolbar {
	font-family: System Font;
	font-size: 10px;
}

.Control {
	font-family: System Font;
	font-size: 12px;
}
