.Control {
	font-family: System Font;
	font-size: 12px;
}

.Control_Large_ {
	font-family: System Font;
	font-size: 16px;
}

.Control_Large_1 {
	font-family: System Font;
	font-size: 16px;
}

.Control_Large_2 {
	font-family: System Font;
	font-size: 16px;
}

.Control_Small {
	font-family: Lucida Grande;
	font-size: 10px;
}

.Control_Small1 {
	font-family: Lucida Grande;
	font-size: 10px;
}

.Control_Small2 {
	font-family: Lucida Grande;
	font-size: 10px;
}

.Control1 {
	font-family: System Font;
	font-size: 12px;
}

.Control2 {
	font-family: System Font;
	font-size: 12px;
}

.default {
	font-family: Lucida Grande;
	font-size: 13px;
}

.Fields {
	font-family: Geneva;
	font-size: 12px;
}

.Fields_BOLD {
	font-family: Lucida Grande;
	font-size: 12px;
	font-weight: bold;
}

.Fields_Large {
	font-family: Lucida Grande;
	font-size: 16px;
}

.Fields_Large1 {
	font-family: Lucida Grande;
	font-size: 16px;
}

.Fields_Large2 {
	font-family: Lucida Grande;
	font-size: 16px;
}

.Fields_Medium {
	font-family: Lucida Grande;
	font-size: 14px;
}

.Fields_Medium1 {
	font-family: Lucida Grande;
	font-size: 14px;
}

.Fields_Medium2 {
	font-family: Lucida Grande;
	font-size: 14px;
}

.Fields_Medium3 {
	font-family: Lucida Grande;
	font-size: 14px;
}

.Fields_Medium4 {
	font-family: Lucida Grande;
	font-size: 14px;
}

.Fields_Medium5 {
	font-family: Lucida Grande;
	font-size: 14px;
}

.Fields_Medium6 {
	font-family: Lucida Grande;
	font-size: 14px;
}

.Fields_Medium7 {
	font-family: Lucida Grande;
	font-size: 14px;
}

.Fields_print {
	font-family: futura;
	font-size: 8px;
}

.Fields_Small {
	font-family: Lucida Grande;
	font-size: 10px;
}

.Fields_XtraLarge {
	font-family: Lucida Grande;
	font-size: 20px;
}

.Heading_print {
	font-family: Lucida Grande;
	font-size: 7px;
}

.Headings {
	font-family: Lucida Grande;
	font-size: 13px;
	font-weight: bold;
}

.Headings_Small {
	font-family: Lucida Grande;
	font-size: 10px;
}

.Headings1 {
	font-family: Lucida Grande;
	font-size: 24px;
}

.Label {
	font-family: Lucida Sans Unicode;
	font-size: 12px;
}

.Label_Large {
	font-family: Lucida Grande;
	font-size: 16px;
}

.Label_Large1 {
	font-family: Lucida Grande;
	font-size: 16px;
}

.Label_Large2 {
	font-family: Lucida Grande;
	font-size: 16px;
}

.Label_Light {
	font-family: Lucida Grande;
	font-size: 12px;
}

.Label_Medium {
	font-family: Lucida Grande;
	font-size: 14px;
}

.Label_print {
	font-family: Lucida Grande;
	font-size: 8px;
}

.Label_Small {
	font-family: Lucida Grande;
	font-size: 10px;
}

.Message_Text {
	font-family: Charcoal;
	font-size: 12px;
}

.Monospace_Large {
	font-family: courier;
	font-size: 12px;
}

.Monospace_Small {
	font-family: Courier New;
	font-size: 10px;
}

.Tags {
	font-family: Lucida Grande;
	font-size: 11px;
}

.TAgs_print {
	font-family: Lucida Grande;
	font-size: 9px;
}

.Tags_Small {
	font-family: Lucida Grande;
	font-size: 10px;
}

.Titles {
	font-family: Lucida Grande;
	font-size: 18px;
	font-weight: bold;
}

.Titles_print {
	font-family: Lucida Grande;
	font-size: 9px;
	font-weight: bold;
}

.Titles_Small {
	font-family: Lucida Grande;
	font-size: 12px;
	font-weight: bold;
}

.Titles1 {
	font-family: Lucida Grande;
	font-size: 18px;
	font-weight: bold;
}

.Titles2 {
	font-family: Lucida Grande;
	font-size: 18px;
	font-weight: bold;
}

.toolbar {
	font-family: Avenir Medium;
	font-size: 10px;
}

